@import './fonts';
@import 'tailwindcss';

@theme {
  --default-font-family: 'Inter', sans-serif;

  --breakpoint-xs: 30em;
  --breakpoint-sm: 48em;
  --breakpoint-md: 62em;
  --breakpoint-lg: 75em;
  --breakpoint-xl: 88em;
  --breakpoint-2xl: 100em;
}

html,
body {
  font-family: 'Inter', sans-serif;
}

@utility flex-center {
  @apply flex items-center justify-center;
}
